on: [push]

name: build

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          target: thumbv6m-none-eabi
          override: true
      - uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: check
          args: --target thumbv6m-none-eabi

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - run: rustup component add rustfmt
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          target: thumbv6m-none-eabi
          override: true
      - run: rustup component add clippy
      - uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: clippy
          args: --target thumbv6m-none-eabi -- -D warnings

  ci:
      if: ${{ success() }}
      # all new jobs must be added to this list
      needs: [check, fmt, clippy]
      runs-on: ubuntu-latest
      steps:
        - name: CI succeeded
          run: exit 0